div{
    background-color: aqua;
    width: 500px;
    height: 500px;
    border: solid 2px red;
    border-radius: 100px;
}
#box1{
    margin-left: 329px;
    margin-top: 50px;
}
#box2{
    margin-left: 892px;
    margin-top: -490px;
}
/* margin
margin left
margin right
margin top
margin bottom */